# ===============================
# IDE
# ===============================

.idea/

# ===============================
# Python
# ===============================

__pycache__/
*.py[cod]

# ===============================
# Virtual Environment
# ===============================

.venv/
venv/

# ===============================
# Environment
# ===============================

.env

# ===============================
# Logs
# ===============================

logs/
*.log

# ===============================
# Database
# ===============================

*.db
*.sqlite

# ===============================
# Data
# ===============================

data/raw/
data/export/

# ===============================
# Windows
# ===============================

Thumbs.db
Desktop.ini

# ===============================
# macOS
# ===============================

.DS_Store